* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
}
body {
    background-color: #f5f7fa;
    color: #333;
}

.campus-image {
  inline-size: 100%;
  block-size: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campus-image img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}